html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #1a1c20;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

/* START CSGOUpdates */

#article-li:hover {
  transform: scale(1.02);
}
#header {
  display: block;
  position: fixed;
  left: 15em;
  width: 100%;
  z-index: 999;
  background-color: #323335;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  border-color: #de9b35;
  border-top: 1px solid #de9b35;
}

.main-card-csgo {
  color: white;
  padding: 20px, 20px, 20px, 20px;
  margin: 15px 15px 15px 15px;

}

.category-card-csgo {
  border-radius: 10px;
  padding: 20px;
}


/* END CSGOUpdates */


.team-info-button {
  background-color: #de9b35;
  border-color: #865d06;
}
.team-info-button:hover{
  background-color: #a9782f;
  border-color: #d3a238;
}

/* Start Loading Componenet */


.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

/* End Loading Componenet */

/* START SideBar Menu */
#wrapper {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
}

#leftWrapper {
  display: inline-block;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
  height: 100%;
  background-color: #323335;
}

#listView li a {
  display: block;
  padding: 20px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  border-top: 1px solid #de9b35;
  border-bottom: 1px solid #865d06;
  transition: all 0.2s ease;
}

#rightWrapper {
  display: inline-block;
  position: absolute;
  left: 15em;
  margin: 0;
  padding: 0px 40px;
  width: calc(100% - 15em);
  height: 100%;
  overflow-y: scroll;
  background-color: #282a2d;
  transition: all 0.2s ease;
}

#fullPage {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  color: #de9b35;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  transform: rotate(90deg);
}

#contentWrapper {
  display: block;
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

.full-page {
  left: 0 !important;
  width: 100% !important;
}

.list-item-active:after {
  content: "";
  position: absolute;
  margin-top: -65px;
  margin-left: 13.45em;
  width: 0;
  height: 0;
  border-top: 33px solid transparent;
  border-bottom: 33px solid transparent;
  border-right: 25px solid #de9b35;
  transition: all 0.2s ease;
}
/* END SideBar Menu */

/* Correções de estilo para dispositivos menores que 270px */
@media (max-width: 760px) {
  /* Estilo para todos os componentes Card */
  .card {
    /* Defina aqui o estilo desejado para os componentes Card em telas menores que 270px */
    /* Por exemplo, você pode reduzir a largura ou ajustar o espaçamento interno */
    width: 100%;
    padding: 544px;
  }
}
